body {
    margin: 0;
}

img {
    display: block;
    width: 100%;
    vertical-align: bottom;
}

.back {
    position: relative;
}

.cube {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.front {
    width: 100%;
    position: relative;
    z-index: 9;
}

.air {
    position: absolute;
    width: 50%;
    mix-blend-mode: screen;
    right: 10%;
    top: 20%;
}